@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
  list-style:none; 
}

body{
  font-family: 'Poppins', sans-serif;
}

/*navbar style starts*/

.navbar{
   
   width: 100%;
   background:black;
   display: flex;
   height: fit-content;
  }

.navbar .navbar-brand{
    font-size: 50px;
    font-weight: 500;
    color: whitesmoke;
    padding:0 0%;
  }
  /*.navbar .navbar-brand span{
    color:red;
  }*/

  .navbar-nav{
    display: flex;
    padding-top: 5px;
    width: 100%;
  }

  .navbar-nav .navbar-link{
    justify-content: space-between;
  }

  .navbar-nav .nav-item{
   display:inline-block;
   margin: 30px;
   line-height: 10px;
   text-decoration: none;
  
}

  .navbar-nav .nav-link{
   color: white;
   font-size: 18px;
   border: 1px solid transparent;
   border-radius: 3px;
  
}
  .nav-item .nav-link.active, .nav-link:hover{
  transform:scale(1.1);
  transition: transform;
  color : aqua;
  text-decoration: none;
}

/*------------------------navbar style ends------------------------*/



/*main section style*/


.main {
  text-align:center;
  padding-top: 150px;
  width: 100%;
  height: auto;
  color: whitesmoke;
  justify-content: center;
}


#Home{
  display:flow-root;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343F4F;
}

.wrapper{
  display:flex;
  justify-content: center;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 5px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #343F4F;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
/*------------------------main section style ends------------------------*/


/*about style*/



.profile-pic  {
  position:relative;
  max-width:300px;
  max-height:300px;
  border-radius: 15%;
  width:auto;
}

#About h3{
  color:dimgray;
  font-weight: 500;
  text-decoration:underline;
}


.about-content{
  display: flex;
}


.inside-about{
  font-size: 20px;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 300;
  font-weight: 500;
  text-align:justify;
}

/*------------------------about style ends------------------------*/



/* education style*/


#Education h3{
  color:dimgray;
  font-weight: 500;
  text-decoration:underline;
}

#Education h5{
  text-decoration-line: underline;
  text-align-last: left;
  font-size:25px;
}

.Education-content {
  font-size: 20px;
  font-weight: 500;
  text-align-last: left;
}

img.srm-logo{
  max-width:200px;
  max-height:200px;
 
}
img.school-logo{
  max-width:200px;
  max-height:200px;
 
}

.edu-srm{
  display: flex;
}

.edu-school{
  display: flex;
} 

.edu-srm p{
  margin-left:auto;
  text-align:left;
  padding-top: 75px;
  font-weight: 600;
}

.edu-school p{
  margin-left:auto;
  text-align:left;
  padding-top: 60px;
  font-weight: 600;
} 

/*------------------------ education style ends------------------------*/



/*skills style*/

#Skills h3{
  color:dimgray;
  font-weight: 500;
  text-decoration:underline;
}
.icons{
  padding-top: 35px;
}
/*------------------------skills style ends------------------------*/


/*Project style*/

#Project p{
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  text-align:justify;
  line-height: 30px;
}
#Project p span{
  text-decoration-line: underline;
  font-size: 25px;
  font-weight: 600;
}
/*------------------------Project style ends------------------------*/






/*contact style*/

#Contact h3{
  color:dimgray;
  font-weight: 500;
  text-decoration:underline;
}
#Contact {
  font-size: 20px;
}
/*------------------------contact style ends------------------------*/



